:root {
  // colors

  --black: rgb(22, 22, 22);
  --white: rgb(245, 245, 245);
  --white-rgb: 245, 245, 245;

  --main-color: rgb(169, 128, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  color: var(--black);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 62.5%;
  color: var(--black);
}

// helper
.loading {
  display: none;
}

.h-container {
  max-width: 1920px;
  width: 100%;
}

.h-color {
  &-w {
    h1,
    h2,
    h3,
    p,
    span {
      color: var(--white);
    }
  }

  &-mc {
    h2,
    p {
      color: var(--main-color);
    }
  }
}

.h-fs {
  &-bigger {
    h1,
    h2,
    p {
      font-size: 7rem;
    }
  }

  &-big {
    h1,
    h2 {
      font-size: 2.5rem;
    }
  }

  &-med {
    h3,
    p,
    span {
      font-size: 2rem;
    }
  }
}

// content
nav {
  background-color: var(--main-color);
  width: 100%;

  h1 {
    text-align: center;
  }
}

// welcome / error
.welcome,
.error {
  margin-top: 2rem;
  text-align: center;

  h1 {
    color: var(--main-color);
  }

  h1 {
    font-size: 3rem;
  }

  button {
    margin-top: 2rem;
    padding: 1rem;
  }
}

.welcome {
  p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
}

.error {
  display: none;
}

// weather section
.weather {
  background-color: var(--main-color);
  margin: 2rem 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__img,
  &__info,
  &__time {
    width: 512px;
  }

  &__img {
    position: relative;

    img {
      width: 100%;
    }

    p {
      position: absolute;
      bottom: 0;
      right: 0;

      background-color: var(--white);
      padding: 0 0.5rem;
      border-radius: 1rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      font-weight: 700;
    }
  }

  &__time {
    text-align: right;

    span {
      display: block;
    }
  }

  &__days {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    justify-content: space-evenly;

    .day {
      max-width: 150px;
      min-width: 75px;
      padding: 0.5rem;
      border: 2px solid var(--white);
      border-radius: 1rem;

      transition: background-color 0.25s ease-in-out;

      text-align: center;

      img {
        width: 100%;
      }

      p {
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}

// Buttons
.cta {
  margin: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  background-color: var(--black);
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;

  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

// map
.map {
  width: calc(100% - 4rem);
  margin: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__data {
    background-color: var(--main-color);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .from,
    .to {
      display: flex;
      align-items: center;

      h3 {
        padding-right: 0.5rem;
      }

      input {
        background-color: var(--main-color);
        width: 300px;
        height: 40px;
        padding: 0.2rem;
        border: 2px solid var(--white);
        border-radius: 1rem;

        &::placeholder,
        &[type="text"] {
          color: var(--white);
          font-size: 1.5rem;
        }
      }
    }

    select {
      font-size: 1.25rem;
    }
  }

  #map {
    background-color: var(--main-color);
    width: 100%;
    height: 400px;
  }

  button {
    margin-top: 1rem;
  }
}

// media
@media screen and (max-width: 1650px) {
  .h-fs {
    &-bigger {
      h2,
      p {
        font-size: 5rem;
      }
    }

    &-big {
      h1,
      h2 {
        font-size: 2rem;
      }
    }

    &-med {
      h3,
      p,
      span {
        font-size: 1.5rem;
      }
    }
  }

  .weather {
    &__img {
      width: 400px;
    }

    &__info,
    &__time {
      width: auto;
    }
  }
}

@media screen and (max-width: 1300px) {
  .weather {
    &__img {
      width: 350px;
    }
  }

  .map {
    &__data {
      .from,
      .to {
        input {
          width: 200px;

          &::placeholder,
          &[type="text"] {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .h-fs {
    &-bigger {
      h2,
      p {
        font-size: 3rem;
      }
    }

    &-big {
      h1,
      h2 {
        font-size: 1.5rem;
      }
    }

    &-med {
      h3,
      p,
      span {
        font-size: 1rem;
      }
    }
  }

  .weather {
    &__img {
      width: 200px;
    }
  }

  .map {
    &__data {
      .from,
      .to {
        input {
          width: 150px;

          &::placeholder,
          &[type="text"] {
            font-size: 0.9rem;
          }
        }
      }

      select {
        font-size: 0.75rem;
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .weather {
    &__img {
      width: 150px;
    }
  }

  .cta {
    button {
      padding: 1rem;
    }
  }

  .map {
    &__data {
      select {
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .weather {
    &__days {
      flex-wrap: wrap;

      .day {
        width: 120px;
        margin-top: 1rem;
      }
    }
  }

  .cta {
    button {
      margin: 0.5rem;
      width: 250px;

      h2 {
        font-size: 1rem;
      }
    }
  }

  .map {
    &__data {
      justify-content: end;

      .from,
      .to {
        input {
          width: 60vw;
        }
      }

      .from {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .weather {
    &__info {
      margin: 1rem 0;
      text-align: center;
    }

    &__days {
      flex-wrap: wrap;

      .day {
        width: 90px;
      }
    }
  }
}
